EXPO_PUBLIC_API_BASE_URL=http://localhost:4000
EXPO_PUBLIC_API_MODE=mock
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_FER_CROP_SIZE=96
EXPO_PUBLIC_FER_JPEG_QUALITY=90
EXPO_PUBLIC_FER_SAMPLE_MS=3000
